body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

.container {
  margin: 20px;
    max-width: 450px;
    height: 430px;
    margin: 0 auto;
    background-color: #ffcd33;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #ffcd33;
}

.form-toggle {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.form-toggle button {
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.form-toggle button.active {
    background-color: #0056b3;
}

form {
  margin: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
  font-size: 20px;
    font-weight: bold;
    color: #333;
}

input {
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 8px;
    background-color: #ffcd33;
}
input::placeholder{
  font-size: 20px;
}
input[type]{
  font-size: 20px;
}
custom-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.custom-checkbox input[type="checkbox"] {
    width: 20px;  
    height: 20px; 
    margin-right: 10px; 
    cursor: pointer;
}

button {
    padding: 15px;
    font-size: 20px;
    border: 1px solid white;
    outline: none;
    background-color: #ffcd33;
    color: #333;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
   background-color: #fff;
}

p{
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}
p a{
    color: #7494ec;
    text-decoration: none;
}
p a:hover{
    text-decoration: underline;
}

.error {
    color: #dc3545;
    font-size: 14px;
}

.success {
    color: #28a745;
    font-size: 14px;
}

@media (max-width: 600px) {
    .container {
        padding: 15px;
    }
    input, button {
        font-size: 16px;
    }
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           